{% extends "layout.html" %}

{% block tabla_resultados %}
{% set BASE_URL= "https://jaimevalero.github.io/managing-awesome-lists" %}



		<h2 >Global list: All data </h2>
    <h3 >{{data['list'].description}} </h3>
    {% set STARS_LOWER_THRESOLD = 2500 %}
    <div class="alert alert-info">
    	<i class="fa fa-eye" aria-hidden="true"></i>
      We display only the first 2.000 repos, sorted by number of stars.
    </div>


    {% set count = [1] %}
    {% for repo in data['repos'][:2001]  %}
      {% if repo.created_at is not none %}
        {% if repo.stargazers_count > STARS_LOWER_THRESOLD %}
        {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
        {% endif	%}
      {% endif	%}
    {% endfor	%}
Elements: {{count}}
 <br>
    <div class="table-responsive">
      <table id="tabla"     class="table table-hover table-condensed table-striped">

        <thead>
          <tr>
            <th>Repo</th>
            <th width="15%">Stars</th>
            <th>Description</th>
            <th width="15%">Last Updated</th>
            <th>Language</th>
            <th>Tags</th>



          </tr>
        </thead>
        <tbody>
          {% for repo in data['repos'][:2001]  %}
            {% if repo.created_at is not none %}
              {% if repo.stargazers_count > STARS_LOWER_THRESOLD %}
                <tr>
                  <td><a href="https://github.com/{{repo.full_name}}">{{repo.full_name}}</a></td>
                  <td>{{repo.stargazers_count}}</td>
                  <td>{{repo.description}}</td>
                  <td>{{repo.created_at[0:10]}}</td>
                  <td>{{repo.language}}</td>
                  <td>
                    <td>
                      {%for tag in repo.topics %}
                      <a href="{{BASE_URL}}/var/topics/{{tag}}.html" >
                        <font href= "" class = "topic-tag">{{tag}}</font>
                      </a>
                      {% endfor %}
                    </td>
                </tr>
              {% endif	%}
            {% endif	%}
          {% endfor	%}
        </tbody>
      </table>
		</div>



{% endblock %}
