{% set BASE_URL= "https://jaimevalero.github.io/managing-awesome-lists" %}

<div class="container-fluid" >
	<!-- Brand and toggle get grouped for better mobile display -->

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li >
				<a href="http://search.hi.inet">Awesome list viewer <span class="sr-only">(current)</span></a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"
					 role="button" aria-haspopup="true" aria-expanded="false">
				 Select list
				</a>
				<ul class="dropdown-menu">


          <li rel="tooltip"  title="Global list" >
            <a href='{{BASE_URL}}'>
            <i class="fa fa-internal-link" aria-hidden="true"></i> Global list
            </a>
          </li>
          {% for repo in data['repos']|sort(attribute='name')  -%}
          <li rel="tooltip"  title="{{repo.description}}" >
          	<a href='{{BASE_URL}}/var/awl-{{repo.full_name|replace("/","%40")}}.html'>
						<i class="fa fa-internal-link" aria-hidden="true"></i> {{repo.name|replace("awesome-","") }}
						</a>
					</li>
         {%- endfor %}


				</ul>
			</li>
		</ul>


	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->


<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
