{% extends "layout.html" %}

{% block tabla_resultados %}
{% set BASE_URL= "https://jaimevalero.github.io/managing-awesome-lists" %}
{% set MAX_NUMBER_OF_REPOS = 1000 %}

{% set last_repo = "None" %}


		<h2 >Global list: All data </h2>
    <h3 >{{data['list'].description}} </h3>
    <div class="alert alert-info">
    	<i class="fa fa-eye" aria-hidden="true"></i>
      We display only the first {{MAX_NUMBER_OF_REPOS}} repos, sorted by number of stars.
    </div>

		<br>
		<br>
		 Elements: {{MAX_NUMBER_OF_REPOS}}
		 <br>
<div class="table-responsive">
  <table id="tabla" class="table table-hover table-condensed table-striped">

    <thead>
      <tr>
        <th>Repo</th>
        <th width="15%">Stars</th>
        <th>Description</th>
        <th width="15%">Last Updated</th>
        <th>Language</th>
        <th>Tags</th>



      </tr>
    </thead>
    <tbody>
			{% set ns = namespace(counter=0) %}

			{% set repos_list = data['repos'] |sort(attribute='stargazers_count',reverse=true) %}

			{% for repo in repos_list[:MAX_NUMBER_OF_REPOS*2]  %}


					{% if ns.counter < MAX_NUMBER_OF_REPOS %}

						{% if repo.created_at is not none and  ( repos_list[loop.index].full_name != repos_list[loop.index-1].full_name ) %}
							{% set ns.counter = ns.counter + 1 %}
				      <tr>
				        <td>
									<a href="https://github.com/{{repo.full_name}}">{{repo.full_name}}</a></td>
				        <td>{{repo.stargazers_count}}</td>
				        <td>{{repo.description}}</td>
				        <td>{{repo.pushed_at[0:10]}}</td>
				        <td>{{repo.language}}</td>
				        <td>
				          {%for tag in repo.topics %}
				          <a href="{{BASE_URL}}/var/topics/{{tag}}.html">
				            <font href="" class="topic-tag">{{tag}}</font>
				          </a>
				          {% endfor %}
				        </td>
				      </tr>
						{% endif	%}

					{% endif	%}

      {% endfor	%}


    </tbody>
  </table>
</div>

{% endblock %}
