
<h3 > Awesome List Viewer </h3>


Discover new and amazing resources in the awesome lists!
This repo format the awesome list by number of stars, add tags and filters.


Lists : {{data['repos']|length}}


| List     | Description | Stars
| ------------- | ------------- | ------------- |
{% for repo in data['repos']|sort(attribute='stargazers_count',reverse=true)  %}|[{{repo.full_name}}](http://htmlpreview.github.com/?https://github.com/jaimevalero/managing-awesome-lists/blob/develop/var/awl-{{repo.full_name|replace("/","%40")}}.html)| {{repo.description}} | {{repo.stargazers_count}} |
{% endfor %}

----
