<div class="container-fluid" >
	<!-- Brand and toggle get grouped for better mobile display -->

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li >
				<a href="https://github.com/jaimevalero/managing-awesome-lists/">Awesome List viewer<span class="sr-only">(current)</span></a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">

		</ul>



	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
