<div class="container-fluid" >
  <!-- Brand and toggle get grouped for better mobile display -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li >
        <a href="https://github.com/jaimevalero/managing-awesome-lists/">Awesome List viewer<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false">
         Opciones
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Acceder
            </a>
          </li>
          <li>
            <a href="http://prod-epg-influx-01:3000/d/xkJAKiJmk/inventario?orgId=1&from=now-7d&to=now">
              <i class="fa fa-external-link" aria-hidden="true"></i> Dashboard Inventario
            </a>
          </li>
          <li>
            <a href="http://prod-epg-dockr-02:5601/app/kibana#/dashboard/Buscador" >
              <i class="fa fa-external-link" aria-hidden="true"></i> Logs
            </a>
          </li>

        </ul>
      </li>
    </ul>



  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
